<div id="card">
  <div id="inside">
    <header>
      <div class="left">
        <div id="name">{{monster().name}}</div>
      </div>
      <div class="right">
        <div id="hp">{{monster().hp }}</div>
        <img class="icon energy" src="/img/bolt-solid.svg" alt="Energy" />
      </div>
    </header>
    <figure id="art">
      <img src="/img/pik.jpg" alt="" />
      <figcaption>{{monster().figureCaption}}</figcaption>
    </figure>
    <div id="capacities">
      <div class="capacity">
        <div class="main">
          <div class="cost">
            <img src="/img/bolt-solid.svg" alt="Energy" class="icon energy" />
            <img src="/img/bolt-solid.svg" alt="Energy" class="icon energy" />
          </div>
          <div class="name">{{monster().attackName}}</div>
          <div class="damage">{{monster().attackStrength}}</div>
        </div>
      </div>
    </div>
    <div class="description">
        {{monster().attackDescription}} 
    </div>
  </div>
</div>
